@use '/src/scss/utils/variables' as *;

.card {
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid $cream;

    .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 700;
    }

    .date {
        opacity: 0.6;
        font-size: 0.8rem;
    }

    a {
        opacity: 0.9;
    }
}